server {
    listen       ${ELEMENT_WEB_PORT};
    listen  [::]:${ELEMENT_WEB_PORT};
    server_name  localhost;

    root   /usr/share/nginx/html;
    index  index.html;

    # Use no-store for files that must always be fresh to prevent any caching
    # issues when deploying new builds.

    location = /index.html {
        add_header Cache-Control "no-store";
    }
    location = /version {
        add_header Cache-Control "no-store";
    }
    location = /sw.js {
        add_header Cache-Control "no-store";
    }
    location /i18n/ {
        add_header Cache-Control "no-store";
    }

    # covers config.json and config.hostname.json requests as it is prefix.
    location /config {
        root /tmp/element-web-config;
        add_header Cache-Control "no-store";
    }
    location /modules {
        alias /modules;
    }
    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
}
